<h1 class="title">Skontaktuj sie z nami</h1>
        
<div class="main_container">
        
    <div class="info_container">
        <p>Avenue 5A Witebsk, Belarus</p>
        <hr>
        <p>58 910 738/58 910 738</p>
        <hr>
        <p>whale@gmail.com</p>
        <hr>
        <p>pon-pt  10.00-19.00</p>
        <p>sb      10.00-15.00</p>
    </div>             
             
    

    
</div>

<!--
<div class="contact_form">
    <div class="form">
        <input type="text" placeholder="imie">
        <br>
    </div>  
                
    <div class="form">

                    <input type="email" placeholder="e-mail">
                    
                    <br>
                </div>
    <div class="form">

                    <textarea placeholder="tresc wiadomosci"></textarea>
                    
                    <br>
                </div>
                    
    <div class="form_button">
                    <button class="button" onclick="location.href='thankyou_page.html'">Wyslij</button>
                    <br>
                </div>
</div>
-->

    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4557.273300563697!2d30.2585907!3d55.1721329!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46c571238d0b3af1%3A0x3d7773897e7449f3!2z0JHQuNC70LXQstC-LTEsINCS0LjRgtC10LHRgdC6LCDQkdC10LvQsNGA0YPRgdGM!5e0!3m2!1sru!2spl!4v1449106634303" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe> 
    </div>


 