<article class="about">
    
    <div class="avatar">
    <%= image_tag "circle.png", class: "img" %>
    </div>
    
    <div class="title">
        <h2>Kilka słów o nas...</h2>
        <hr> 
    </div>
    
    <div class="text">  
        
           
        <p class="info"> Godard fanny pack occupy hashtag chartreuse. 90's man bun irony ramps lo-fi. Hoodie actually 90's selfies skateboard crucifix chillwave. Offal swag chambray, distillery YOLO pug pinterest small batch.</p>
    </div>
</article>
